.NavigationDivider {
    display: block;
    clear: both;
}

.NavigationDivider p{
    margin: 20px 0 5px;
    padding: 0 15px;
    line-height: 1em;
    display: block;
    clear: both;
    font-weight: bold;
    color: rgba(255,255,255,0.5);
    font-size: 12px;
    text-transform: uppercase;
}